@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transition-bg: 117 5% 13%;
    --background: 117 17% 85%;
    --foreground: 123 79% 4%;
    --muted: 123 6% 87%;
    --muted-foreground: 123 0% 40%;
    --popover: 123 34% 98%;
    --popover-foreground: 123 79% 4%;
    --card: 117 17% 85%;
    --card-foreground: 123 79% 4%;
    --border: 123 3% 93%;
    --input: 123 3% 93%;
    --primary: 123 59% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 123 5% 84%;
    --secondary-foreground: 123 5% 24%;
    --accent: 123 11% 76%;
    --accent-foreground: 123 11% 16%;
    --destructive: 0 100% 28%;
    --destructive-foreground: 0 100% 88%;
    --ring: 123 59% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --transition-bg: 117 17% 85%;
    --background: 117 5% 13%;
    --foreground: 123 21% 100%;
    --muted: 123 6% 13%;
    --muted-foreground: 123 0% 60%;
    --popover: 123 43% 2%;
    --popover-foreground: 123 21% 100%;
    --card: 117 5% 13%;
    --card-foreground: 123 21% 100%;
    --border: 123 13% 18%;
    --input: 123 3% 13%;
    --primary: 123 59% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 123 10% 16%;
    --secondary-foreground: 123 10% 76%;
    --accent: 123 16% 23%;
    --accent-foreground: 123 16% 83%;
    --destructive: 0 100% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 123 59% 36%;
  }
}

/* body {
  color: hsl(var(--foreground));
} */
